body {
    background-color: beige;
    display: flex;
}

.celebrity {
    margin: 0 auto;
    text-align: center;
}

div.celebrity img {
    width: 250px;
    height: 400px;
    border-radius: 20px;
    margin: 8px;
}

div.celebrity img:hover {
    transform: scale(1.2);
    box-shadow: 2px 2px 2 px 2px grey;
}

h1 {
    color: white;
    background-color: aquamarine;
}

.btn-ajout {
    text-transform: uppercase;
    margin: 20px;
}

.btn-ajout a{
    text-decoration: none;
    color: white;
    background-color: rgb(99, 172, 172);
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
}

.btn-ajout a:hover {
    background-color: blueviolet;
}